* {
  box-sizing: border-box;
}

body {
  background-color: lightpink;
  text-align: center;
}


.headding img {
  border-radius: 15px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0;
}



.headding {
  display: block;
  margin:auto;
  padding:5px;
}

hr {
height:2px;
background-color:rgb(226, 43, 183);
border-radius: 50px;
border: none;
}

.rainbow-vector, .headding h1, hr {
filter: saturate(0.9) drop-shadow(5px 5px 5px black);
}

.headding h1 {
font-family: "Comic Sans MS";
font-weight: bold;
font-size: 35px;
background-image: linear-gradient(to right, violet, lightgreen, skyblue, rgb(245, 184, 242));
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
display:table;
margin:0 auto;
}



.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 250px;
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius:10px;  
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.gallery::after {
  content:"";
  width:250px;
}

.gallery img:hover{
 transform: scale(1.5);
 object-fit:contain;
 border-radius: 5px;;
}
.pictext {
  visibility: hidden;
  position: relative;
  height: 0;          /* Layout won't jump because height is zero */
  overflow: visible;  /* Allows the text to still be seen */
  margin-top: -40px;  /* Moves the text "up" so it sits on the pony */
  z-index: 10;
  text-align: center;
}

.gallery div:hover .pictext {
  visibility: visible;
  background-color:lightpink;
  border-radius: 5px;
  height:auto;
  color:white;

}